/*  -----------------------
    CSS Media Query < 600px 
    ----------------------- */

/* --- Header --- */


/* --- Footer --- */

#footer-wrapper .location .icon-map {
    width: 48px;
}

#footer-wrapper .location .address {
    float: left;
    width: 78%;
}

#footer-wrapper .sitemap li {
    padding-right: 12px;
}

#footer-wrapper .social-media {
    display: inline-block;
}

#footer-wrapper .social-media h4 {
    display: block;
    margin-bottom: 16px;
}

#footer-wrapper .social-media a {
    margin-left: 0px;
    margin-right: 8px;
}

/* --- Page Video --- */

#page-video .row {
    padding: 0 20px;
}

#page-video .row em {
    width: 100%;
    padding: 0;
}

#page-video iframe {
    width: 100%;
    height: 240px;
}