<div id="footer-wrapper">
    <div class="row">
        <div class="imx">

            <div class="clear">
                <div class="fl">
                    <h4 class="font-azo">PT. Networks Indonesia Aku</h4>
                    <p>
                        AIA CENTRAL, Lantai 21<br /><br /> Jl. Jenderal Sudirman No.Kav. 48A, Karet Semanggi, Kecamatan Setiabudi, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta 12930
                    </p>
                    <ul class="btn-box">
                        <li><a>Terms and Conditions</a></li>
                        <li><a>Privacy policy</a></li>
                        <li><a>Cookies</a></li>
                    </ul>
                    <em>Copyright. 2023 PT. Networks Indonesia Aku All Rights reserved</em>
                </div>

                <div class="fr">
                    <h4 class="font-azo">Connect with us</h4>
                    <div class="icon-box">
                        <a href="https://instagram.com/networksindonesiaaku?igshid=MTk0NTkyODZkYg==" target="_blank"><img src='../assets/img/icon/icon-insta.svg' /></a>
                        <a href="https://www.tiktok.com/@networksindonesiaaku" target="_blank"><img src='../assets/img/icon/icon-tiktok.svg' /></a>
                        <a href="https://www.facebook.com/NetworksIndonesiaAKU" target="_blank"><img src='../assets/img/icon/icon-fabook.svg' /></a>
                        <a href="https://www.youtube.com/@networksindonesiaaku4258?themeRefresh=1" target="_blank"><img src='../assets/img/icon/icon-youtube.svg' /></a>
                    </div>
                    <ul>
                        <li>
                            <span>Kantor Pusat</span>
                            <em></em>
                            <a href="http://sclnetworks.co.kr" target="_blank">http://www.sclnetworks.co.kr</a>
                        </li>
                    </ul>
                    <p>Copyright. 2023 PT. Networks Indonesia Aku All Rights reserved</p>
                </div>
            </div>

        </div>
    </div>
</div>